.sub-menu-item {
    padding-left: 15px;
  }
  
  .item-icon {
    margin-left: 5px;
    margin-right: 5px;
  }
  
  #sidebar ul li a {
    font-size: 15px;
    border-bottom: 1px solid #eaeaea;
  }
  
  #sidebar {
    top: 0;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  }