.dropdown-menu {
  right: 0 !important;
  left: unset;
  margin-top: 17px;

  border-radius: 0px;

  &.rtl {
    left: 0;
    right: unset !important;
  }
}

.icons-wrapper {
  width: 150px;
}

.searchbar {
  height: 40px;
  background-color: #fff;
  border-radius: 2px;
  padding: 0 10px;
  display: flex;
  align-items: center;

  &:hover {
    .search_input {
      padding: 0 0px;
      caret-color: #16267a;
      transition: width 0.4s linear;
      color: #16267a;
      
      @media only screen and (min-width: 992px) {
        width: 300px;
      }
    }
  }
}

.navicon {
  border-right: 1px solid #00A39E;
  border-left: 1px solid #00A39E;
  width: max-content;
  color: #fff;
}

.logout {
  width: max-content;
  color: #fff;
  padding-inline-end: 0 !important;
}

.search_input {
  color: #000;
  border: 0;
  outline: 0;
  background: none;
  width: 150px;
  caret-color: transparent;
  line-height: 22px;
  transition: width 0.4s linear;
}

.dropdown-menu {
  // display: block;
  visibility: hidden;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s ease all;
}

.dropdown-menu.show {
  // display: block;
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
  transition: 0.5s ease all;
  position: absolute;
}

.dropdown-menu-notfications {
  width: 300px !important;
}

.topnav {
  padding-inline-end: 3rem;
}

::placeholder {
  color: #ccc;
  font-size: 11px;
}
li:hover {
  cursor: pointer;
}


