<div>
  <table mat-table [dataSource]="localList" matSort class="mat-elevation-z8">
    <ng-container [matColumnDef]="localList" *ngFor="let localList of columns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columnHeader[localList]}} </th>
      <td mat-cell *matCellDef="let element"> {{element[localList] }}</td>
    </ng-container>

    <ng-container matColumnDef="view" *ngIf="containView">
      <th mat-header-cell *matHeaderCellDef>عرض</th>
      <td mat-cell *matCellDef="let element">
        <button class="btn btn-lg" (click)="openDialog(element)">
          <i class="fa fa-file"></i>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit" *ngIf="containEdit">
      <th mat-header-cell *matHeaderCellDef>تعديل</th>
      <td mat-cell *matCellDef="let element">
        <a [routerLink]="[currentRoute+element.id]" class="
        btn">
          <i class="fa fa-edit"></i>
        </a>
      </td>
    </ng-container>


    <ng-container matColumnDef="print" *ngIf="caontainPrint">
      <th mat-header-cell *matHeaderCellDef>طباعة</th>
      <td mat-cell *matCellDef="let element">
        <button class="btn btn-lg" (click)="print(element.id)">
          <i class="fa fa-print"></i>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete" *ngIf="containDelete">
      <th mat-header-cell *matHeaderCellDef>حذف</th>
      <td mat-cell *matCellDef="let element">
        <button class="btn btn-lg" (click)="delete(element.id)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element,let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator class="mt-2" [length]="listCount" [pageSizeOptions]="[5,10,15]" [pageSize]="5" showFirstLastButtons>
  </mat-paginator>
</div>

<div>
  <ng-template #noData>
    <div rtl>
      <h1 *ngIf="localList.length==0">
        لا يوجد نتائج
      </h1>
    </div>
  </ng-template>
</div>