<p-table #table [columns]="cols" [value]="data" [sortField]="'id'" [sortOrder]="1" [lazy]="true"
  [showCurrentPageReport]="true" [currentPageReportTemplate]="'Showing {first} to {last} of {totalRecords} entries'"
  [paginator]="true" [rowsPerPageOptions]=[5,10,15,20] [rows]="this.Service.opt.pageSize" [totalRecords]="totalCount"
  autoLayout="true" (onLazyLoad)="loadLazyLoadedData($event)">
  <ng-template pTemplate="header" let-columns>
    <!-- Table Headers-->
    <tr>
      <th *ngFor="let col of columns" [pSortableColumn]="col.sortCol">
        {{ 'Data.' +col.header | translate }}
        <p-sortIcon [field]="col.field"></p-sortIcon>
      </th>
      <!-- Show Action In Header Row-->
      <th
        *ngIf="actions"
        style="width: 10em;">
        {{ 'Data.Actions' | translate}}</th>
    </tr>
    <!-- Filter Controls-->
    <tr>
      <th *ngFor="let col of columns" [ngSwitch]="col.filterMode">
        <input *ngSwitchCase="'text'" pInputText type="text" (input)="filter($event.target.value, col.field)">
      </th>
      <!-- Show Action In Filter Controls Row-->
      <th
        *ngIf="actions">
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-row let-columns="columns">
    <!-- Table Rows-->
    <tr>
      <!-- Display Data-->
      <td *ngFor="let col of columns">
        {{ row[col.field] }}
      </td>
      <!-- Display Actions-->
      <td
        *ngIf="actions"
        class="actions">
        <span *ngFor="let action of actions">
          <span *ngIf="action.isEdit">
            <a [routerLink]="currentRoute + row.id">
              <i class="{{ action.icon }} icon"></i>
            </a>
          </span>
          <span *ngIf="action.isDelete">
            <i class="{{ action.icon }} icon" (click)="openDeleteModal(row.id)"></i>
          </span>
        </span>
      </td>
    </tr>
  </ng-template>

</p-table>
